@use "styles";
.card-container {
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: styles.$dark-blue;
    border-radius: 1rem;

    .card-title {
      word-spacing: 3px;
    }

    .card-body {
      flex: 1;
      padding: 2rem;
      svg {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 16px;
        height: 17px;
        padding: 8px;
        background-color: #383d44;
        color: styles.$light-grey;
      }
    }

    .card-p {
      text-align: center;
      color: #7c8798;
      font-size: styles.$font-size;
      margin-top: -2rem;
      line-height: 1.7;
      font-weight: styles.$font-regular;
      white-space: pre-line;
    }
    .row-numbers {
      display: flex;
      justify-content: space-evenly;
    }
    .circle-number {
      input {
        opacity: 0;
      }
      label {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 36px;
        height: 36px;
        padding: 8px;
        background-color: #383d44;
        color: styles.$light-grey;
      }
      label:hover {
        background-color: styles.$primary-color;
        color: white;
      }
      input:checked + label {
        background-color: styles.$primary-color;
        color: white;
      }
    }
    .submit-function {
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      .submit-button {
        background-color: styles.$primary-color;
        color: white;
        padding: 5px;
        margin: 1rem;
        font-family: inherit;
        font-size: 14px;
        padding: 9px;
        border-radius: 30px;
        width: 100%;
        border: 1px solid styles.$primary-color;
      }
    }
  }
}
