@use "styles";
@use "card";

.card-title-thanks {
  @extend .card-title;
  text-align: center;
}

.card-body-thanks {
  flex: 1;
  padding: 2rem;
  .picture {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  .selected {
    border-radius: 25px;
    padding: 1rem;
    width: fit-content;
    height: 1rem;
    background-color: #383d44;
    color: styles.$primary-color;
  }
}
